name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: apuntes.tex
          texlive_version: 2023
          os: debian
          compiler: latexmk
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: apuntes.pdf
